In [18]:
import pandas as pd
import numpy as np

# Function to calculate the mean of every 3 consecutive elements in a row
def calculate_medians(row):
    means = []
    for i in range(len(row) - 14):
        window = row[i:i + 15]
        ub = np.median(window) + 1.34 *np.std(window)
        means.append(ub)
    for i in range(len(row) - 14):
        window = row[i:i + 15]
        means.append(np.median(window) - 1.34 *np.std(window))
        
    return means

# Load the CSV file
file_path = r'C:\Users\gauta\OneDrive - IIT Kanpur\Desktop\PROJECT\surge\output.csv'
data = pd.read_csv(file_path, header = None)

In [19]:
data

          0    1    2    3    4    5    6    7    8    9
0       111  111  111  111  111  111  111  111  111  111
1       107  107  107  107  107  107  107  107  107  107
2       102  102  102  102  102  102  102  102  102  102
3        95   95   95   95   95   95   95   95   95   95
4        92   92   92   92   92   92   92   92   92   92
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
129570  101  101  101  101  101  101  101  101  101  101
129571  104  104  104  104  104  104  104  104  104  104
129572  107  107  107  107  107  107  107  107  107  107
129573  111  111  111  111  111  111  111  111  111  111
129574  114  114  114  114  114  114  114  114  114  114

[129575 rows x 10 columns]

In [20]:
len(data.columns)

10

In [22]:
# Calculate means for each row and store them in a list of lists
all_means = []
for idx, row in data.iterrows():
    means_of_row = calculate_means(row)
    all_means.append(means_of_row)

# Convert the list of lists into a new DataFrame
means_df = pd.DataFrame(all_means)

# Concatenate the original DataFrame with the new means DataFrame
updated_data = pd.concat([data, means_df], axis=1)

# Save the updated DataFrame to the same CSV file
output_path = r'C:\Users\gauta\OneDrive - IIT Kanpur\Desktop\output.csv'
updated_data.to_csv(output_path, index=False)

print("Means of all continuous three elements in each row have been appended.")
print("Updated CSV file saved to:", output_path)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\gauta\\OneDrive - IIT Kanpur\\Desktop\\output.csv'

In [23]:
product = pd.read_csv(r'C:\Users\gauta\OneDrive - IIT Kanpur\Desktop\output.csv')

In [31]:
base = product[product.columns[2:10]]

In [32]:
base

          2    3    4    5    6    7    8    9
0       111  111  111  111  111  111  111  111
1       107  107  107  107  107  107  107  107
2       102  102  102  102  102  102  102  102
3        95   95   95   95   95   95   95   95
4        92   92   92   92   92   92   92   92
...     ...  ...  ...  ...  ...  ...  ...  ...
129570  101  101  101  101  101  101  101  101
129571  104  104  104  104  104  104  104  104
129572  107  107  107  107  107  107  107  107
129573  111  111  111  111  111  111  111  111
129574  114  114  114  114  114  114  114  114

[129575 rows x 8 columns]

In [33]:
product

,0,1,2,3,4,5,6,7,8,9,...,6.1,7.1,8.1,9.1,10,11,12,13,14,15
0,111,111,111,111,111,111,111,111,111,111,...,111.0,111.0,111.0,111.0,111.0,111.0,111.0,111.0,111.0,111.0
1,107,107,107,107,107,107,107,107,107,107,...,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0
2,102,102,102,102,102,102,102,102,102,102,...,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0,102.0
3,95,95,95,95,95,95,95,95,95,95,...,95.0,95.0,95.0,95.0,95.0,95.0,95.0,95.0,95.0,95.0
4,92,92,92,92,92,92,92,92,92,92,...,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129570,101,101,101,101,101,101,101,101,101,101,...,101.0,101.0,101.0,101.0,101.0,101.0,101.0,101.0,101.0,101.0
129571,104,104,104,104,104,104,104,104,104,104,...,104.0,104.0,104.0,104.0,104.0,104.0,104.0,104.0,104.0,104.0
129572,107,107,107,107,107,107,107,107,107,107,...,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0
129573,111,111,111,111,111,111,111,111,111,111,...,111.0,111.0,111.0,111.0,111.0,111.0,111.0,111.0,111.0,111.0
129574,114,114,114,114,114,114,114,114,114,114,...,114.0,114.0,114.0,114.0,114.0,114.0,114.0,114.0,114.0,114.0

In [34]:
max_data = product[product.columns[10:18]]

In [35]:
max_data

          0.1    1.1    2.1    3.1    4.1    5.1    6.1    7.1
0       111.0  111.0  111.0  111.0  111.0  111.0  111.0  111.0
1       107.0  107.0  107.0  107.0  107.0  107.0  107.0  107.0
2       102.0  102.0  102.0  102.0  102.0  102.0  102.0  102.0
3        95.0   95.0   95.0   95.0   95.0   95.0   95.0   95.0
4        92.0   92.0   92.0   92.0   92.0   92.0   92.0   92.0
...       ...    ...    ...    ...    ...    ...    ...    ...
129570  101.0  101.0  101.0  101.0  101.0  101.0  101.0  101.0
129571  104.0  104.0  104.0  104.0  104.0  104.0  104.0  104.0
129572  107.0  107.0  107.0  107.0  107.0  107.0  107.0  107.0
129573  111.0  111.0  111.0  111.0  111.0  111.0  111.0  111.0
129574  114.0  114.0  114.0  114.0  114.0  114.0  114.0  114.0

[129575 rows x 8 columns]

In [36]:
min_data = product[product.columns[18:]]

In [37]:
min_data

          8.1    9.1     10     11     12     13     14     15
0       111.0  111.0  111.0  111.0  111.0  111.0  111.0  111.0
1       107.0  107.0  107.0  107.0  107.0  107.0  107.0  107.0
2       102.0  102.0  102.0  102.0  102.0  102.0  102.0  102.0
3        95.0   95.0   95.0   95.0   95.0   95.0   95.0   95.0
4        92.0   92.0   92.0   92.0   92.0   92.0   92.0   92.0
...       ...    ...    ...    ...    ...    ...    ...    ...
129570  101.0  101.0  101.0  101.0  101.0  101.0  101.0  101.0
129571  104.0  104.0  104.0  104.0  104.0  104.0  104.0  104.0
129572  107.0  107.0  107.0  107.0  107.0  107.0  107.0  107.0
129573  111.0  111.0  111.0  111.0  111.0  111.0  111.0  111.0
129574  114.0  114.0  114.0  114.0  114.0  114.0  114.0  114.0

[129575 rows x 8 columns]

In [39]:
# Now I have to create a csv file with appending product, max_data, min_data\

import pandas as pd

# Read the original CSV file
product = pd.read_csv(r'C:\Users\gauta\OneDrive - IIT Kanpur\Desktop\output.csv')

# Select columns for base, max_data, and min_data
base = product.iloc[:, 2:10]      # Assuming columns 2 to 9 inclusive
max_data = product.iloc[:, 10:18]  # Assuming columns 10 to 17 inclusive
min_data = product.iloc[:, 18:]    # Assuming columns from 18 onwards

# Concatenate along columns axis
result = pd.concat([base, max_data, min_data], axis=1)

# Save the result to a new CSV file
result.to_csv(r'C:\Users\gauta\OneDrive - IIT Kanpur\Desktop\combined_output.csv', index=False)

In [40]:
import pandas as pd

# Read the original CSV file
product = pd.read_csv(r'C:\Users\gauta\OneDrive - IIT Kanpur\Desktop\output.csv')

# Select columns for base, max_data, and min_data
base = product.iloc[:, 2:10]      # Assuming columns 2 to 9 inclusive
max_data = product.iloc[:, 10:18]  # Assuming columns 10 to 17 inclusive
min_data = product.iloc[:, 18:]    # Assuming columns from 18 onwards

# Concatenate along columns axis
result = pd.concat([base, max_data, min_data], axis=1)

# Reset column names starting from 0
result.columns = range(len(result.columns))

# Save the result to a new CSV file
result.to_csv(r'C:\Users\gauta\OneDrive - IIT Kanpur\Desktop\combined_output.csv', index=False)

In [ ]:
# Given Latitude and Longitude find nearest grid point.